@{
    ViewData["Title"] = "Home Page";
}

<h1>Hola, son las @ViewBag.hora</h1>
<p>@ViewBag.Mensaje</p>


<h1 class ="text-center">Tabla de multiplicar</h1>
<table style="border: 1px solid #333">
    @for (int i = 1; i <= 12; i++)
    {
        <tr>
            @for (int j = 1; j <= 12; j++)
            {
                <td style="border: 1px solid #333; width: 100px;">
                    @i * @j = @(i* j)
                </td>
            }
        </tr>
    }

</table>




<p>
    @Html.ActionLink("Ir a filete empanado", "empanado", "Filete")
</p>