@{
    ViewData["Title"] = "Home Page";
    var Hora = DateTime.Now;       
    var mensaje = "";
    if(Hora.Hour < 12)
    {
        mensaje = "Buenos días";
    }
    else
    {
        mensaje = "Buenas tardes";
    }
}

<h1>Hola, son las @Hora.Hour:@Hora.Minute</h1>
<p>@mensaje</p>


<h1 class ="text-center">Tabla de multiplicar</h1>
<table style="border: 1px solid black">
    @for (int i = 1; i <= 12; i++)
    {
        <tr>
            @for (int j = 1; j <= 12; j++)
            {
                <td style="border: 1px solid black; width: 100px;">
                    @i * @j = @(i* j)
                </td>
            }
        </tr>
    }

</table>



<p>
    @Html.ActionLink("Ir a filete empanado", "empanado", "Filete")
</p>